<h3 data-testid="employeeName">{{ user.name }}</h3>
<h4 data-testid="taxPeriod">Tax period: December 1st - December 31st</h4>
<ul>
    <li data-testid="grossPayYear">Total gross pay for current tax year: £{{ user.salary }}</li>
    <li data-testid="grossPayMonth">Total gross pay for month: £{{ calculateMonthlyGrossPay() }}</li>
    <li data-testid="afterTax">Month's wage after tax: £{{ calculateMonthlyPayAfterTax() }}</li>
    <li data-testid="pension">Monthly pension contribution (6%): £{{ calculatePensionContribution() }}</li>
    <li data-testid="nationalInsurance">National Insurance contribution: £{{ calculateNationalInsuranceContribution() }}</li>
</ul>
<button routerLink="">Back</button>